@import "tailwindcss";
@import "tw-animate-css";
@import "tailwindcss-animated";

@custom-variant dark (&:is(.dark *));

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    font: 62.5% / 1.15 sans-serif;
  }

  h1,
  h2 {
    margin-bottom: 0;
  }

  ul {
    list-style: none;
    padding: 0;
  }

  button {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;
    color: inherit;
    font: inherit;
    line-height: normal;
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;
    appearance: none;
  }

  button::-moz-focus-inner {
    border: 0;
  }

  button,
  input,
  optgroup,
  select,
  textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
  }

  button,
  input {
    overflow: visible;
  }

  input[type='text'] {
    border-radius: 0;
  }

  body {
    @apply overscroll-contain overflow-hidden;
    width: 100%;
    margin: 0 auto;
    font:
      1.6rem/1.25 'Helvetica Neue',
      Helvetica,
      Arial,
      sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
  }

  @theme inline {
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-background: var(--card-background);
    --color-popover: var(--popover);
    --color-popover-background: var(--popover-background);
    --color-primary: var(--primary);
    --color-primary-background: var(--primary-background);
    --color-secondary: var(--secondary);
    --color-secondary-background: var(--secondary-background);
    --color-muted: var(--muted);
    --color-muted-background: var(--muted-background);
    --color-accent: var(--accent);
    --color-accent-background: var(--accent-background);
    --color-destructive: var(--destructive);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --color-sidebar: var(--sidebar);
    --color-sidebar-background: var(--sidebar-background);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-background: var(--sidebar-primary-background);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-background: var(--sidebar-accent-background);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
  }

  :root {
    --radius: 0.625rem;
    --background: oklch(0.6786 0.1868 42.61);
    --foreground: oklch(0.94 0.07 79.9);
    --card: oklch(1 0 0);
    --card-background: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-background: oklch(0.145 0 0);
      --primary: oklch(0.94 0.07 79.9);
      --primary-background: oklch(0.4 0.15 224.25);
    --secondary: oklch(0.97 0 0);
    --secondary-background: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-background: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-background: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-background: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-background: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-background: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
    --ripple-animation: linear(0 0%,
      0.12 15%,
        0.1 20%,
        0.30 35%,
        0.25 40%,
        0.6 55%,
        0.5 60%,
        0.8 85%,
        0.9 90%,
        1.03 98%,
          1 100%);
  }

  .dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-background: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-background: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-background: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-background: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-background: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-background: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-background: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-background: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-background: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
  }

  * {
    @apply border-border outline-ring/50;
  }

  #root {
    @apply bg-background text-primary flex flex-col items-center justify-center relative h-dvh;
    animation: backgroundColorChange 3s infinite alternate;
    background-image: url(../asset/acv.svg);
    background-size: 30vw;
    background-blend-mode: hue;
    animation-timing-function: linear;
  }

  @keyframes backgroundColorChange {
    0% {
      background-color: var(--color-background);
    }

    50% {
      background-color: oklch(0.6299 0.1884 37.49);
    }

    100% {
      background-color: oklch(0.5275 0.2044 26.03);
    }
  }
}